# Database
DB_HOST=localhost
DB_NAME=calendar_task_manager
DB_USER=root
DB_PASSWORD=

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=1h

NODE_ENV = development

# Google
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"

# Email SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your_smtp_password
SMTP_FROM_EMAIL=your@gmail.com