:root {
    --fc-border-color: theme('colors.gray.800');
    --fc-page-bg-color: black;
    --fc-neutral-bg-color: black;
    --fc-list-event-hover-bg-color: theme('colors.gray.800');
    --fc-today-bg-color: theme('colors.blue.900') / 0.1;
}

.fc-header-toolbar {
    @apply !mb-4;
}

.fc .fc-button-primary {
    @apply bg-transparent border-gray-800 text-gray-400 capitalize font-medium transition-colors;
}

.fc .fc-button-primary:hover {
    @apply bg-gray-900 text-white border-gray-700;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    @apply bg-blue-900/20 text-blue-400 border-blue-900;
}

.fc-col-header-cell-cushion {
    @apply text-gray-400 text-xs uppercase py-2.5 no-underline hover:text-white;
}

.fc-daygrid-day-number {
    @apply text-gray-300 p-2 no-underline hover:text-white;
}

.fc-event {
    @apply cursor-pointer border-none rounded shadow-sm transition-all hover:brightness-110;
}

.fc-event-main {
    @apply p-0.5 px-1 font-medium text-xs;
}

.custom-timed-event {
    @apply bg-blue-900/40 border-l-4 border-blue-800 !important;
}
.custom-timed-event .fc-event-main {
    @apply text-blue-200;
}

.custom-allday-event {
    @apply bg-purple-900 border border-purple-700 !important;
}
.custom-allday-event .fc-event-main {
    @apply text-purple-200 text-center font-bold;
}